* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
section,
aside,
footer {
  padding: 20px;
  border: 1px soli black;
  color: antiquewhite;
}

body {
  background-color: antiquewhite;
}
header {
  background: cadetblue;
}
nav {
  background: cornflowerblue;
  display: inline-block;
}
main {
  background: darkorchid;
}
section {
  background: salmon;
  margin-top: 20px;
}
aside {
  background: red;
  margin-top: 20px;
}
footer {
  background: royalblue;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 640px) {
  main {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr))
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
    
  }

  h1 {
      grid-column: 1/-1;

  }
 
  section {
      margin: 0;
    
  }


  aside {
    grid-row: 2/4;
    grid-column: 3;
  }
}
